<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Find a product" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a routerLink="/cart" routerLinkActive="active">
          <mat-icon
            class="ms-3 mt-2 icon-color icon-zoom"
            [matBadge]="cart.products.length"
            matBadgePosition="above after"
            matBadgeColor="warn"
            matBadgeSize="small"
            matBadgeHidden="{{cart.products.length === 0}}">
            shopping_cart
          </mat-icon>
        </a>
        
        <a routerLink="/profile" routerLinkActive="active">
          <mat-icon class="mx-2 mt-25 icon-color icon-zoom">person</mat-icon>
        </a>
        
      </div>
    </div>
  </nav>