.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.mt-25 {
    margin-top: 0.65rem;
}

.bi:hover {
    color: rgb(65, 65, 65) !important;
}

.admin-link {
    color: #ff0000;
}

.admin-link.active {
    color: #aa0000;
}

.icon-zoom {
    transition: transform 0.2s ease-in-out; 
    
    &:hover {
      transform: scale(1.2); 
    }
  }
  
  .icon-color {
    color: rgb(70, 79, 69);
  }