<div class="border-top my-4"></div>
<div class="container">
    <div class="row">
    <div class="col-md-4 mb-4">
        <h5>About Us</h5>
        <p>Web Shop Company delivers quality products with a focus on excellent service. We are here to enhance your shopping experience.</p>
    </div>
    <div class="col-md-4 mb-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
            <li><a routerLink="/" class="text-decoration-none">Home</a></li>
            <li><a routerLink="/contact" class="text-decoration-none">Contact</a></li>
            <li><a routerLink="/about" class="text-decoration-none">About</a></li>
        </ul>
    </div>
    <div class="col-md-4 mb-4">
        <h5>Contact</h5>
        <p>Bulevar Kralja Aleksandra 123<br>Belgrade, Zvezdara 11050<br>Email: contact&#64;web-shop.com<br>Phone: +381 64 1234567</p>
    </div>
    </div>
    <div class="text-center mt-4">
    <p>&copy; 2024 Web Shop Company. All rights reserved.</p>
    </div>
</div>