form {
    width: 90%;
    max-width: 700px;
}

button {
    height: 50px;
    width: 120px;
    margin-top: 10px;
    font-size: medium;
    @media (max-width: 500px) {
        width: 100%;
    }
}

.form-control, .btn:focus {
    box-shadow: 2px 2px 5px rgba(0,0,0,.12) inset;
}

.form-control:focus{
    border-color: rgba(0,0,0,.30);
}

.form-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 2px;
}

textarea {
    max-height: 250px;
}