<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/orders">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>