
<div *ngIf="orders.length === 0" class="pb-3 d-flex justify-content-center align-items-center flex-column text-center mt-5">

    <picture>
        <source srcset="assets/empty-order.webp" style="max-width: 180px;" class="img-fluid">
        <img src="assets/empty-order.png" style="max-width: 180px;" class="img-fluid">
    </picture>

    <p class="fw-bold" style="font-size: larger;">You have no orders yet</p>
    <span class="mb-1">Start shopping to place your first order</span>
    <a routerLink="/" routerLinkActive="active" class="explore-link">Explore products</a>
</div>

<div class="custom-padding p-2">
    
<div class="border container-fluid mt-4 px-0 bg-order" *ngFor="let order of orders">
    <div class="row pb-3 pt-2">
        <div class="ps-4 ps-sm-5 ps-md-3 ps-lg-5 py-2 col-12 col-md-11">
            <div class="d-flex flex-md-column flex-row">
                <div class="flex-fill row labels">
                    <div class="col-12 col-md-1">
                        ID
                    </div>
                    <div class="col-12 col-md-2">
                        DATE
                    </div>
                    <div class="col-12 col-md-4">
                        ADDRESS
                    </div>
                    <div class="col-12 col-md-2">
                        COST
                    </div>
                    <div class="col-12 col-md-3">
                        STATUS
                    </div>
                </div>
                <div class="flex-fill row mt-1">
                    <div class="col-12 col-md-1">
                        {{order.id}}
                    </div>
                    <div class="col-12 col-md-2">
                        {{order.createdAt.toLocaleDateString()}}
                    </div>
                    <div class="col-12 col-md-4">
                        {{order.address}}
                    </div>
                    <div class="col-12 col-md-2">
                        {{order.cart.price.toFixed(2)}} EUR
                    </div>
                    <div class="col-12 col-md-3" [ngStyle]="{'color': statusColors[order.status]}">
                        {{OrderStatus[order.status]}}
                    </div>
        
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end d-md-block pe-3 pb-4 pb-md-0 py-md-1 col-12 col-md-1">
            <mat-icon *ngIf="order.status === OrderStatus.PROCESSING" (click)="finishOrder(order)" class="d-inline d-md-block done-icon">done_all</mat-icon>
            <mat-icon *ngIf="order.status === OrderStatus.PROCESSING" (click)="cancelOrder(order)" class="delete-icon d-inline d-md-block pt-md-1">close</mat-icon>
            <mat-icon *ngIf="order.status === OrderStatus.PROCESSING" (click)="editOrder(order)" class="edit-icon d-inline d-md-block pt-md-1">edit</mat-icon>
            <mat-icon *ngIf="order.status === OrderStatus.DELIVERED" (click)="deleteOrder(order)" class="delete-icon d-inline d-md-block py-md-1">delete_outline</mat-icon>
        </div>
        
    </div>
    <mat-divider></mat-divider>
    <div class="container-fluid px-5 mx-0 mt-3">
        <div *ngFor="let item of order.cart.productList" class="mb-3 bg-white border d-flex" style="font-size: small;">

            <picture>
                <source [srcset]="item.productInfo.imagePath + '.webp'" type="image/webp" style="width: 130px;">
                <img [src]="item.productInfo.imagePath + '.png'" alt="{{item.productInfo.name}}" style="width: 130px;">
            </picture>

            <div class="mx-3 w-100">
                <div class="d-flex justify-content-between w-100 pt-3">
                    <a [routerLink]="['/products', item.productInfo.id]">
                        <h5 class="fw-bold">{{item.productInfo.name}}</h5>
                    </a>
                </div>
                <h6 class="fw-bold mb-4">{{item.productInfo.price}} EUR</h6>
                <span>{{item.productInfo.manufacturer}} | {{Category[item.productInfo.category]}}</span>
                <p class="mb-0">Size: {{item.size.toString()}}</p>
            </div>

        </div>
    </div>
   
</div> 
</div>