.col-12{
    text-align: left; 
}

.custom-border {
    border-right: 1px solid rgb(189, 189, 189);
}

@media (min-width: 768px) {
    .col-12 {
        text-align: center;
    }

    .custom-border {
        border: none;
        border-bottom: 1px solid rgb(189, 189, 189);
    }

    .custom-padding {
        padding: 10px 80px !important;
    }
}

@media (min-width: 992px) {
    .custom-padding {
        padding: 10px 150px !important;
    }
}

.labels .col-12 {
    font-weight: bolder;
    color: rgb(91, 105, 95) !important;
}

.delete-icon {
    &:hover {
        color: rgb(133, 29, 29) !important;
    }
}

.done-icon {
    &:hover {
        color: rgb(82, 172, 44) !important;
    }
}

.explore-link {
    color: rgb(71, 71, 71) !important;
    font-weight: bold !important;
    text-decoration: underline;
}

mat-icon {
    cursor: pointer;
}