<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm mx-5 about-text">
            <h2>About Us</h2>
            <p>We are a passionate team of fashion enthusiasts dedicated to bringing you a curated collection of clothing, accessories, and footwear that blend elegance with contemporary flair.</p>
            <h2>Our Story</h2>
            <p>Founded in 2024, Web Shop Company started with a simple vision: to make fashion accessible and enjoyable for everyone. What began as a small boutique has grown into a vibrant online shop, offering a diverse range of styles for every occasion</p>
            <h2>Our Mission</h2>
            <p>At Web Shop Company, our mission is to empower you to express your unique style with confidence.</p>
        </div>
        <div class="col-sm mx-5 text-center">
            <img src="assets/about.png" height="440" width="480">
        </div>
    </div>
</div>