a {
    text-decoration: none;
    color: black;
    &:hover {
        color: rgb(65, 65, 65);
    }
}

span {
    display: block;
}

.zoom {
    transition: transform 0.05s ease-in-out;
    &:hover {
        transform: scale(1.02);
    }
}

.side-bar p {
    color: #003e57;
    margin-top: 30px;
    margin-bottom: 5px;
}

mat-icon {
    color: #ffc83d;
}

#date-picker {
    width: 235px;
}

.width-235 {
    width: 235px;
}

#apply-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 150px;
}

@media screen and (min-width: 470px) and (max-width: 991px)  {
    .side-bar {
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .left-div {
        margin-left: auto;
        margin-right: 4%;
    }

    .right-div {
        margin-right: auto;
        margin-left: 4%;
    }

    .remove-top-margin {
        margin-top: 0px !important;
    }
}

@media screen and (min-width: 1500px) {
    .side-bar {
        padding-left: 3rem !important;
    }
}