
<header class="fixed-top bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Welcome back to Web Shop!</h1>
        <a class="bi bi-house-door fs-3 link-light" routerLink="/" routerLinkActive="active"></a> 
    </div>
</header>
<div class="mx-auto form-container text-center py-5">

    <h4 class="text-center my-4 py-3 fw-bold">Log In</h4>
    <form #logInForm="ngForm" (ngSubmit)="onLogin(logInForm)">
        <div class="my-3 mx-auto form-group">
            <input type="email" class="form-control" placeholder="Enter your email address" id="email" [(ngModel)]="email" name="email" required>
        </div> 
        <div class="mb-4 mx-auto form-group">
            <input type="password" class="form-control" placeholder="Password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <p *ngIf="failedToLogin" class="text-danger">LogIn Unsuccessful!</p>
        <p *ngIf="someFieldsAreEmpty" class="text-danger">Please fill every field.</p>
        <div class="container text-center my-2">
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
        <p class="text-under-button mt-3 d-inline">Don't have an account? </p><a class="text-under-button link-primary" routerLink="/signup" routerLinkActive="active">Sign up!</a>
    </form>
</div>