
.form-container {
    width: 30%;
    min-width: 280px;
    padding: 30px;
    border: 1px solid;
    border-radius: 20px;
}

.form-group {
    width: 70%;
    text-align: left;
    color: rgb(81, 81, 81);
    font-size: 1rem;
}

.form-control::placeholder {
    font-size: 0.75rem; 
    color: #888;
}

input {
    border: none;            
    border-bottom: 2px solid #ccc; 
    border-radius: 0%;

    &:focus {
        border-bottom: 2px solid darkgray; 
        outline: none;
    }
}

.text-under-button {
    font-size: 0.85rem;
}

a:hover {
    cursor: pointer;
}