<div class="container-flex">
    <div class="row">
        <div class="col-sm-6 d-flex flex-column align-items-center align-items-lg-end">
            <a class="d-flex flex-column align-items-center zoom m-3 me-sm-0" routerLink="/products/men">
                <img src="/assets/men.png">
                <span>Men's Collection</span>
            </a>
        </div>
        <div class="col-sm-6 d-flex flex-column align-items-center align-items-lg-start">
            <a class="d-flex flex-column align-items-center zoom m-3 ms-sm-0" routerLink="/products/women">
                <img src="/assets/women.png">
                <span>Women's Collection</span>
            </a>
        </div>
    </div>
</div>