<div class="container p-3">
    <div class="row">
        <div class="col order-2 order-lg-1">
            <table class="table table-first">
                <thead>
                  <tr>
                    <th scope="col">email</th>
                    <th scope="col" class="hide-sm">firstname</th>
                    <th scope="col" class="hide-sm">lastname</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userService.getUserList().values()" (click)="selectedUser = user" class="tr">
                    <td>{{ user.email }}</td>
                    <td class="hide-sm">{{ user.firstname }}</td>
                    <td class="hide-sm">{{ user.lastname }}</td>
                  </tr>
                </tbody>
              </table>
        </div>

        <div *ngIf="selectedUser.orders.length > 0; else noOrders" class="col border-lg-start order-1 order-lg-2">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">total cost</th>
                  <th scope="col">date</th>
                  <th scope="col">time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of selectedUser.orders" routerLink="/admin/orders/{{ order.id }}" class="tr">
                  <td>{{ order.cart.price }}</td>
                  <td>{{ order.createdAt.toLocaleDateString() }}</td>
                  <td>{{ order.createdAt.toLocaleTimeString() }}</td>
                </tr>
              </tbody>
            </table>

        </div>
        
        <ng-template #noOrders>
            <div class="col border order-1 order-lg-2 d-flex align-items-center justify-content-center" style="min-width: 428px;">
                <span>User has no orders</span>
            </div>
        </ng-template>
    </div>
</div>